.title{
  display: inline-block;
  padding: 0;
  margin: 0;
}

@media (min-width: 700px) {
  .title{
    padding: 0.8rem 1.5rem;
    font-size: 2rem;
  }
}

@media (min-width: 1025px) {
  .title{
    padding: 0.4rem 1rem 0;
    font-size: 1rem;
  }
}
