.filters{
  padding: 0.5rem;
  padding-bottom: 0;
}

.filters-title{
  font-size: 1.7rem;
  margin: 0;
}

@media (min-width: 700px) {
  .filters{
    padding: 2rem;
    padding-bottom: 1rem;
  }

  .filters-title{
    font-size: 3rem;
  }

  .filters-dropdown{
    display: flex;
    justify-content: space-around;
  }

}
@media (min-width: 1025px) {
  .filters{
    position: fixed;
    height: 100vh;
    width: 30%;
    padding: 0;
    margin: 0;
  }

  .filters-title{
    font-size: 2.5rem;
    padding: 2rem;
  }

  .filters-dropdown{
    display:inline-block;
    width: 100%;
  }
}
