.photo{
  width: 100%;
}

.photo:hover{
  box-shadow: 11px 13px 20px 2px #aaa;
  opacity: 0.5;
}

@media (min-width: 700px) {
  .photo{

  }
}

@media (min-width: 1025px) {
  .photo{
    width: 50%;
    height: 30vh;
  }
}
