.header{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fefefe;
  box-shadow: 2px 2px 5px #333132;
}

.header-title{
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  margin-top: 0.6rem;
  letter-spacing: 0.1rem;
  display: inline-block;
}

.title-special{
  position: relative;
  background-color: #333132;
  color: #fed104;
  top: -1px;
  padding: 0.7rem 0.7rem 0px 0.7rem;
  border-radius: 50%;
}

.header-subTitle{
  text-align: right;
  font-size: 0.51rem;
  margin-top: -0.7rem;
  color: #a3a3a3;
  float: right;
  margin-right: 0.8rem;
}

@media (min-width: 700px) {
  .header{
    padding: 2rem;
    position: relative;

  }

  .header-title{
    font-size: 5.5rem;
    margin-top: 1rem;
  }

  .title-special{
    padding: 1.4rem 1.4rem 0px 1.4rem;
  }

  .header-subTitle{
    font-size: 1.1rem;
    margin-top: -1.75rem;
    margin-right: 4.4rem;
  }
}

@media (min-width: 1025px) {
  .header{
    padding: 1rem;
    box-shadow: 1px 9px 20px -8px #333132;
    z-index: 10;
  }

  .header-subTitle{
    margin-top: -1.85rem
  }
}
