.dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.dropdown-title{
  width: 50%;
  text-align: right;
}

.dropdown-options{
  width: 50%;
  margin-left: 1rem;
}

@media (min-width: 700px) {
  .dropdown{
    margin: 2rem 0;
    width: 100%;
    justify-content: space-between;
  }

  .dropdown-title, .dropdown-options{
    font-size: 1.5rem;
  }
}

@media (min-width: 1025px) {
  .dropdown{
    flex-direction: column;
    padding: 2rem 0;
    margin: 0;
  }

  .dropdown-title{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .dropdown-options{
    margin: 1rem 0;
    width: 70%;
  }
}
