@media (min-width: 1025px) {
  .app{
    padding: 2rem;
  }
  .main{
    display: flex;
    width: 100%;
  }
  .aside{
    width: 30%;
    background-color: #d2d2d2;
    position: relative;
    z-index: 1;
    box-shadow: 1px -1px 5px #333132;
  }
  .section{
    width: 70%;
  }
}
