.listRooms{
    padding: 0 0.5rem 0.25rem;
}

@media (min-width: 700px) {
  .listRooms{
    padding: 0;
  }
}

@media (min-width: 1025px) {
  .listRooms{
    padding: 0.1rem 2rem;
    background: #d2d2d2;
  }
}
