.room{
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem;
  background-color: #fefefe;
  border: 1px solid #a3a3a3;
}

.room-info{
  padding: 1rem;
}

.info-price{
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
}

.info-buttons{
  display: flex;
  justify-content: space-around;
}

@media (min-width: 700px) {
  .room{
    padding: 2rem;
    margin: 2rem;
    margin-top: 0;
  }

  .info-price{
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 0.5rem 0rem;
  }

}

@media (min-width: 1025px) {
  .room{
    padding: 0;
    margin: 2rem 0;
    width: 100%;
    display: flex;
  }
}
