.green{
  display: inline-block;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fefefe;
  background-color: #3e8f32;
  border: none;
  box-shadow: 0 9px #136920;
}

.green:active{
  background-color: #3e8f32;
  box-shadow: 0 5px #136920;
  transform: translateY(4px);
}


.orange{
  display: inline-block;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fefefe;
  background-color: #f19319;
  border: none;
  box-shadow: 0 9px #ed671a;
}

.orange:active{
  background-color: #ed671a;
  box-shadow: 0 5px #f19319;
  transform: translateY(4px);
}

@media (min-width: 700px) {
  .orange, .green{
    padding: 0.8rem 1.5rem;
    font-size: 2rem;
  }

}

@media (min-width: 1025px) {
  .orange, .green{
    padding: 0.4rem 1rem;
    font-size: 1rem;
  }
}
