.price{
  background-color: #333132;
  color: #fed104;
  border-radius: 15px;
  padding: 0.5rem 0.7rem 0.2rem;
  margin: 0 auto 1rem;
  font-family: 'Luckiest Guy', cursive;
  font-weight: bold;
}

@media (min-width: 700px) {
  .price{
    padding: 0.8rem 1.5rem;
    font-size: 2rem;
  }
}

@media (min-width: 1025px) {
  .price{
    padding: 0.4rem 1rem;
    font-size: 1rem;
  }
}
